.nav_left {
  color: white;
  background: #00000044;
  position: fixed;
  border-radius: 8px;
  border: 2px solid #44444444;
  padding: 3px;
  padding-left: 9px;
  padding-right: 9px;
  left: 8px;
  top: 7px;
}

.nav_left:active {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 8px;
  background: #00000077;
}

.nav_left:hover {
  background: #00000055;
}

.box-white a {
  display: block;
  padding: 8px;
  border: 1px solid #00000044;
  color: black;
  font-weight: bold;
}

.box-white a:hover {
  background: rgb(0,185,255);
  background: -moz-linear-gradient(180deg, rgba(0,185,255,1) 0%, rgba(0,110,241,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,185,255,1) 0%, rgba(0,110,241,1) 100%);
  background: linear-gradient(180deg, rgba(0,185,255,1) 0%, rgba(0,110,241,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b9ff",endColorstr="#006ef1",GradientType=1);
  color: white;
}

@keyframes slideout {
  0% { margin-left: 0px; }
  100% { margin-left: 200%; }
}
@keyframes slidein {
  0% { margin-left: -200%; }
  100% { margin-left: 0%; }
}

.gone {
  position: absolute;
  top: 60px;
  animation-name: slideout;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.here {
  position: absolute;
  top: 60px;
  animation-name: slidein;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

#dummy {
  display: none;
  position: absolute;
  top: 10px;
}
#dummy.here {
  display: block;
  top: 10px;
}
.nav_left {
  opacity: 1;
  transition: 0.1s;
}
.nav_left.invis {
  opacity: 0;
  transition: 0.1s;
}